
*.iml
*.iml
*.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
*.log
*.exe
*.txt
*.ninja
*.obj
*.check_cache
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.c
*.cmake
*.bin
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
System/cmake-build-debug/.ninja_deps
System/cmake-build-debug/.ninja_deps
System/cmake-build-debug/.ninja_log
System/cmake-build-debug/.ninja_log
System/cmake-build-debug/.ninja_deps
System/cmake-build-debug/.ninja_log
